@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: SFNSText-Regular;
  src: url("./fonts/SFNSText-Regular.otf") format("opentype");
}

.container-tendencias{
  background-color: aquamarine;
  /* font-family: Arial, Helvetica, sans-serif; */

}